body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.box{
    display: flex;
    align-items: center;
}

.container1{
    height: 40vh;
    width: 40vw;
}

.container2{
    height: 40vh;
    width: 40vw;
}